body{
    padding: 20;
    margin: 20;
    box-sizing: border-box;
    text-align: justify;
    color: #7D1E6A;
    background-color: #EEB0B0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ultra', serif;
    font-weight: 400;
  
}

.button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a {
  color: #FFE59D;
  text-decoration: none;
}